<div class="d-flex flex-row gap-2">
  <select class="form-select form-select-sm w-25"
          (change)="onChangeDrive($event)">
    <option value="">Выбор диска</option>
    @for(drive of drives(); track drives().length){
      <option [value]="drive">{{drive}}</option>
    }
  </select>

  <div class="current-path">
    <span>{{currentPath()}}</span>
  </div>

  <button class="btn-up" (click)="goToParent()">
    <i class="bi bi-arrow-up"></i>
  </button>
</div>

<div class="scrollbar overflow-y-auto">
  @if (loading) {
    <div class="text-center py-5">Загрузка...</div>
  } @else {
    <ul class="list-group list-group-flush">
      @for(file of files(); track file.path){
        <li (click)="onSelectFile(file)" (dblclick)="openDirectory(file)" [class.active]="selectedFile()?.path === file.path" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center">
            @if(file.isDirectory){
              <i class="bi bi-folder-fill me-2"></i>
            } @else {
              <i class="bi bi-file-earmark-fill me-2"></i>
            }
            <span>{{file.name}}</span>
          </div>
          <span>{{ file.formattedSize }} •
            {{ file.lastUpdate | date:'dd:MM HH:mm'}}</span>
        </li>
      }
    </ul>
  }

</div>
